@model List<SimpleX.Model.fornecedorContato>
@using SimpleX.Model

@{
    var detalhes = "";
}

@{
    if (Model != null)
    {
        for (var i = 0; i < Model.Count; i++)
        {
            detalhes = "";

            <tr class="table-row">
                <td class="table-img">
                    <img src="~/images/in.jpg" alt="">
                </td>
                <td class="table-text">
                    <h6>@Model[i].nomeContato</h6>


                    @if (Model[i].telefoneContato != "")
                    {
                        detalhes += "Telefone: " + Model[i].telefoneContato + " | ";
                    }

                    @if (Model[i].emailContato != "")
                    {
                        detalhes += "Email: " + Model[i].emailContato + " | ";
                    }

                    <p>@detalhes</p>
                </td>
                @*<td class="march">fornecedor com fatura em atraso</td>*@
                <td style="width:1px">
                    <a href="javascript:ajaxModal('/fornecedor/fornecedor/fornecedorContatoCadastroEdicao?idFornecedorContato=@Model[i].ID','cadastroendereco','cadastroenderecoconteudo')" class="btn btn-primary"><i class="fa fa-pencil"></i></a>

                    <a href="javascript:excluirFornecedorContato('@Model[i].ID')" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                </td>
            </tr>

            <br />
        }
    }
}
