@{
    //ViewBag.Title = "ClienteListagem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Listagem de clientes</h2>
<br />

<table class="table">
    <tbody>
        <tr class="table-row">
            <td class="table-img">
                <form class=" navbar-left-right">
                    <input onkeydown="atualizarClientes()" id="pesquisarcliente" type="text" value="Pesquisar..." onfocus="    this.value = '';" onblur="    if (this.value == '') { this.value = 'Pesquisar...'; }">
                   </form>
                <br />
                <br />
            </td>
        </tr>
    </tbody>
</table>

<a href="/Cliente/Cliente/ClienteCadastro" class="btn btn-primary btn-float-right"><i class="fa fa-plus-circle"></i> Incluir novo cliente</a>

<div id="PartialClienteListagem">
    @{
        Html.RenderPartial("PartialClienteListagem");
    }
</div>



    
    


    <script type="text/javascript" src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript">
        function atualizarClientes() {
            var pesquisarcliente = $("#pesquisarcliente").val();
            $.ajax({
                type: 'GET',
                url: '/Cliente/Cliente/PartialClienteListagem?pesquisarcliente=' + pesquisarcliente,
                dataType: 'html',
                cache: false,
                async: true,
                success: function (data) {
                    $('#PartialClienteListagem').html(data);
                }
            });
        } $(document).ready(function () {
            setInterval(atualizarClientes, 30000);
        });
    </script>
